<ion-header>
  <ion-navbar>
    <ion-title>
      Popularity
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="popularity">
  <ion-list class="sgs-list">

    <ion-item *ngFor="let artist of artists | orderby: ['-popularity']; let i = index">

      <ion-thumbnail *ngIf="artist.images[2]" item-left>
        <img src="{{artist.images[2].url}}">
      </ion-thumbnail>

      <!--<ion-thumbnail *ngIf="!artist.images[3]" item-left>-->
        <!--Ops no image-->
      <!--</ion-thumbnail>-->
      <h2>{{i + 1}} - {{artist.name}}</h2>
      <h3>Popularity {{artist.popularity}}</h3>
    </ion-item>
  </ion-list>
</ion-content>
